# Environment configuration for GeekShooping:
ASPNETCORE_ENVIRONMENT=

# Default values:
DEFAULT_PASSWORD=

# PostgreSQL settings (real values):
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# API database settings: (the host name matches the docker service: "postgres"):
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=${POSTGRES_USER}
DATABASE_NAME=${POSTGRES_DATABASE}
DATABASE_PASSWORD=${POSTGRES_PASSWORD}

# Full connection string consumed by ASP.NET Core:
GEEK_SHOPPING_DEFAULT_POSTGRES_CONNECTION=Host={DATABASE_HOST};Port={DATABASE_PORT};Username={DATABASE_USERNAME};Password={DATABASE_PASSWORD};Database={DATABASE_NAME};

# RabbitMQ:
RABBITMQ_USER=admin
RABBITMQ_PASS=${DEFAULT_PASSWORD}

# JWT settings:
JWT_SECRET=
JWT_EXPIRATION_MINUTES=120

# Logging settings:
LOG_LEVEL=Information
LOG_PATH=./logs/geek-shopping--log.txt